$primary-color:             #14384d !default;
$primary-color-light:       #5f8c9e !default;
$primary-color-lighter:     #afd9e4 !default;

$secondary-color:           #2d8879 !default;
$secondary-color-light:     #4cc9b4 !default;
$secondary-color-lighter:   #6ef5de !default;

$font-large:       	        18px !default;
$font-regular:              16px !default;
$font-small:       	        14px !default;
$gutter-space:              12px !default;