$primary-color:             #144D43 !default;
$primary-color-light:       #5f9e94 !default;
$primary-color-lighter:     #afe4da !default;

$secondary-color:           #F58800 !default;
$secondary-color-light:     #F7A033 !default;
$secondary-color-lighter:   #F9B866 !default;

$font-large:       	        18px !default;
$font-regular:              16px !default;
$font-small:       	        14px !default;
$gutter-space:              12px !default;